!--  URxvt settings  --
! Set font
URxvt.font: xft:Hack:regular:pixelsize=13:antialias=true:hinting=true,xft:FontAwesome:pixelsize=13
URxvt.scrollBar: false
URxvt.borderless: true
! Set colours
URxvt.background:   [97]#282a36
! Font colour
URxvt.foreground:   #eff0eb
URxvt.cursorColor:  #9aedfe

URxvt.color0:      #33303b
URxvt.color8:      #4f4b58
URxvt.color1:      #ff5c57
URxvt.color9:      #ff5c57
URxvt.color2:      #5af78e
URxvt.color10:     #5af78e
URxvt.color3:      #f3f99d
URxvt.color11:     #f3f99d
URxvt.color4:      #57c7ff
URxvt.color12:     #57c7ff
URxvt.color5:      #ff6ac1
URxvt.color13:     #ff6ac1
URxvt.color6:      #9aedfe
URxvt.color14:     #9aedfe
URxvt.color7:      #eff0eb
URxvt.color15:     #eff0eb

Xft.antialias: 1
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: rgb

! Extensions
URxvt.perl-ext-common: default,matcher

! Clickable links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Better letter spacing
URxvt.letterSpace: -1

! Transparency
URxvt*inheritPixmap: true
URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 10
